<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <canvas id="humChart" width="400" height="400"></canvas>
    </div>

    <script>
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"
        const ctx = document.getElementById('humChart').getContext('2d'); 

        const humChart = new Chart(ctx, {
            type:'bar',
            data: {
            labels:["Humidity in %", "Light in lumen", "Temperature in celsius"],
            datasets: [{
                label: 'Sensor data',
                data: [<%= humData.relative_humidity %>, <%= lightData.light_lumen %>, <%= tempData.temperature %>]
            }] 
            }
        });
    </script>
</body>
</html>